{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Профиль пользователя -->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary"><a
                                href="{{ url_for('profile.change_master_password') }}"
                                style="text-decoration: none; color:white">Сменить пароль</a></button>
                    </p>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary"><a href="{{ url_for('profile.change_email') }}"
                                style="text-decoration: none; color:white">Сменить почту</a></button>
                    </p>
                </div>
            </div>
        </div>
        <!-- Заявки пользователя -->
        <div class="col">
            <div class="row">
                {% for order in user.orders %}
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">Заявка от {{ order.date|date }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ order.FCs }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{ order.email }}</h6>
                        <div class="btn-group dropend">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Действия
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li>
                                    <button class="btn btn-outline-primary" type="button"style="color:black">
                                        <a href="{{ url_for('manage.detailed_order',id=order.id) }}" class="card-link"
                                            style="text-decoration: none;color:black">Подробнее</a>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-outline-danger" id="liveToastBtn">
                                        <a href="{{ url_for('profile.delete_uorder',id=order.id) }}" class="card-link"
                                            style="text-decoration: none;color:black">Удалить</a>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}