{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" method="POST" action="">
                <span class="heading">СОБРАТЬ ОТЧЕТ</span>
                <div class="form-group help">
                    <input type="date" name="date_from" class="form-control" max="{{ today }}">
                </div>
                <div class="form-group help">
                    <input type="date" name="date_to" class="form-control" max="{{ today }}" min="">
                </div>
                <div class="form-group help">
                    <button type="submit" class="btn btn-default">Собрать</button>
                </div>
            </form>
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->
<script>
    const calendar1 = document.getElementsByName("date_from")[0]
    calendar1.addEventListener("change",()=>{
        const calendar2 = document.getElementsByName("date_to")[0];
        calendar2.min = calendar1.value;
    });
</script>
{% endblock %}