{% extends "base.html" %}
{% block content %}
<style>
    #btn {
        display: block;
        width: 100%;

    }

    #l {
        width: 100%;
        display: block;
    }

    #l:hover {
        background-color: lightgrey;

    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-8" style="width:50%;margin-right:15%;margin-top:2%;">
            <div class="row" style="background:black;color:white;display:flex;align-items:center;border-radius: 5px;">
                {% for order in orders %}
                <p>
                <div class="col-sm" style="text-align:center; width: 100%;">{{order.date|date}}</div>
                <div class="col-sm" style="text-align:center;">{{order.email}}</div>
                <div class="col-sm">
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#OrderInfo{{order.id}}" aria-controls="offcanvasExample" style="width: 100%;">
                        Подробнее
                    </button>
                </div>
                </p>
                <!-- Вне холста -->
                <div class="offcanvas offcanvas-start" tabindex="-1" id="OrderInfo{{order.id}}"
                    aria-labelledby="offcanvasExampleLabel" style="width:280px">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Заявка от {{ order.date|date }}</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Закрыть"></button>
                    </div>
                    <div class="offcanvas-body" style="color:black">
                        <h6 class="card-subtitle mb-2 text-muted"><b>{{ order.FCs }}</b></h6>
                        <h6 class="card-subtitle mb-2 text-muted"><b>{{ order.email }}</b></h6>
                        <p class="card-text">
                            Пункт отправления: <b>{{ order.departure_point }}</b><br>
                            Пункт прибытия: <b>{{ order.arrival_point }}</b><br>
                            Тип доставки: <b>{{ order.order_type }}</b><br>
                            {% if order.order_type == "Пассажирская" %}
                            Количество пассажиров: <b>{{ order.amount}}</b><br>
                            {% else %}
                            Транспорт для доставки: <b>{{ order.auto}}</b><br>
                            {% endif %}
                            Остановки:<b>{{order.stops}}</b><br>
                        <p>
                            Статус:
                            {% if order.state == "Одобрено" %}

                            <small style="color: green;">{{order.state}}</small>
                            {% elif order.state == "В обработке" %}
                            <small style="color: blue;">{{order.state}}</small>
                            {% else %}
                            <small style="color: red;">{{order.state}}</small>

                            {% endif %}
                        </p>
                        </p>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false" style="display: block">
                                Управление
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="" id="l" href="{{ url_for('manage.accept_order',id=order.id) }}">
                                        Принять
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="{{ url_for('manage.decline_order',id=order.id) }}" id="l">
                                        Отклонить
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="{{ url_for('manage.delete_order',id=order.id) }}" id="l">
                                        Удалить
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <p>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false" style="display: block">
                                Добавить остановку
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% for stop in stops %}
                                <li><a id="l"
                                        href="{{ url_for('manage.bind_stop',stop_id=stop.id,order_id=order.id,t='p') }}">{{
                                        stop.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        </p>
                        <p>
                            {% if order.stops %}
                        <div class="dropdown dropend">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false" style="display: block">
                                Удалить остановку
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% for stop in order.stops %}
                                <li><a id="l"
                                        href="{{ url_for('manage.remove_stop',stop_id=stop.id,order_id=order.id,t='p') }}">{{
                                        stop.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        </p>
                    </div>
                </div>
                <!-- Вне холста -->
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 75%;margin-top:6%">
                <div class="card-body">
                    <h5 class="card-title">Менеджер - {{ user.username }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.change_master_password') }}"
                                style="text-decoration: none; color:white">Сменить пароль</a></button>
                    </p>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.change_email') }}"
                                style="text-decoration: none; color:white">Сменить почту</a></button>
                    </p>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.add_manager') }}"
                                style="text-decoration: none; color:white">Добавить менеджера</a></button>
                    </p>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.add_stop') }}"
                                style="text-decoration: none; color:white">Добавить остановку</a></button>
                    </p>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.delete_manager') }}"
                                style="text-decoration: none; color:white">Удалить менеджера</a></button>
                    </p>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.delete_stop') }}"
                                style="text-decoration: none; color:white">Удалить остановку</a></button>
                    </p>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.create_report') }}"
                                style="text-decoration: none; color:white">Составить отчёт</a></button>
                    </p>
                </div>
            </div>
            <!-- День -->
            <p class="card-text">
            <div class="dropdown dropright">
                <a class="btn btn-secondary dropdown-toggle" href="#" style="width: 75%;" role="button"
                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Посмотреть день
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for day in days %}
                    <a class="dropdown-item" id="l"
                        href="{{url_for('manage.day_details',id=day.id)}}">{{day.date|date}}</a>
                    {% endfor %}
                </div>
            </div>
            </p>
            <!-- День -->
            <!-- Статус -->
            <div class="dropdown dropright">
                <a class="btn btn-secondary dropdown-toggle" href="#" style="width: 75%;" role="button"
                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Фильтр по статусу
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" id="l" href="{{ url_for('manage.mprofile',filter='В обработке') }}">В
                        обработке</a>
                    <a class="dropdown-item" id="l"
                        href="{{ url_for('manage.mprofile',filter='Одобрено') }}">Одобрено</a>
                    <a class="dropdown-item" id="l"
                        href="{{ url_for('manage.mprofile',filter='Отклонено') }}">Отклонено</a>
                    <a class="dropdown-item" id="l" href="{{ url_for('manage.mprofile',filter='Все') }}">Сбросить<a></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}