{% extends "base.html" %}
{% block content %}
<style>
</style>
<div class="container">
    <div class="row">
        <!-- Профиль менеджера -->
        <div class="col">
            <div class="card" id="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">{{ user.username }}</h4>
                    <h5 class="card-title">{{ "Менеджер" }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.change_master_password') }}"
                                style="text-decoration: none; color:white">Сменить пароль</a></button>
                    </p>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.change_email') }}"
                                style="text-decoration: none; color:white">Сменить почту</a></button>
                    </p>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.add_manager') }}"
                                style="text-decoration: none; color:white">Добавить менеджера</a></button>
                    </p>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.add_stop') }}"
                                style="text-decoration: none; color:white">Добавить остановку</a></button>
                    </p>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.create_report') }}"
                                style="text-decoration: none; color:white">Составить отчёт</a></button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            {% for day in days %}
            <div class="card" id="card" style="width: 15rem">
                <h5 class="card-title">День {{ day.date }}</h5>
                <h6 class="card-title">Количество заявок: {{ 20-day.orders_amount }}</h6>
                <p class="card-text">
                    <a href="{{ url_for('manage.day_details',id=day.id) }}">Подробнее</a>
                </p>
                <p class="card-text">
                    <a href="{{ url_for('manage.delete_day',id=day.id) }}">Удалить</a>
                </p>
            </div>
            {% endfor %}
        </div>
        <!-- Заявки пользователя -->
        <div class="col">
            <div class="btn-group dropend">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Статус
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('manage.mprofile',filter='В обработке') }}">В обработке</a></li>
                    <li><a href="{{ url_for('manage.mprofile',filter='Одобрено') }}">Одобрено</a></li>
                    <li><a href="{{ url_for('manage.mprofile',filter='Отклонено') }}">Отклонено</a></li>
                    <li><a href="{{ url_for('manage.mprofile',filter='Все') }}">Сбросить<a></li>
                </ul>
            </div>
            <!-- <div>
                <div class="btn-group dropend">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Тип
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('manage.mprofile',filter='Грузоперевозка') }}">Грузоперевозка</a>
                        </li>
                        <li><a href="{{ url_for('manage.mprofile',filter='Пассажирская') }}">Пассажирская</a>
                        </li>
                    </ul>
                </div>
            </div> -->
            <div class="row">
                {% for order in orders %}
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">Заявка от {{ order.date|date }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ order.FCs }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{ order.email }}</h6>
                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#OrderInfo{{order.id}}" aria-controls="offcanvasExample">
                            Подробнее
                        </button>
                    </div>

                </div>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="OrderInfo{{order.id}}"
                    aria-labelledby="offcanvasExampleLabel" style="width:250px">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Заявка от {{ order.date|date }}</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Закрыть"></button>
                    </div>
                    <div class="offcanvas-body">
                        <h6 class="card-subtitle mb-2 text-muted"><b>{{ order.FCs }}</b></h6>
                        <h6 class="card-subtitle mb-2 text-muted"><b>{{ order.email }}</b></h6>
                        <p class="card-text">
                            Пункт отправления: <b>{{ order.departure_point }}</b><br>
                            Пункт прибытия: <b>{{ order.arrival_point }}</b><br>
                            Тип доставки: <b>{{ order.order_type }}</b><br>
                            {% if order.order_type == "Пассажирская" %}
                            Количество пассажиров: <b>{{ order.amount}}</b><br>
                            {% else %}
                            Транспорт для доставки: <b>{{ order.auto}}</b><br>
                            {% endif %}
                            Остановки: <b>{{order.stops}}</b><br>
                            Статус: <b>{{order.state}}</b>
                        </p>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false" style="display: block">
                                Управление
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <button type="button" class="btn btn-outline-success" id="liveToastBtn">
                                        <a class="" href="{{ url_for('manage.accept_order',id=order.id) }}"
                                            style="text-decoration:0">
                                            Принять
                                        </a>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-outline-warning" id="liveToastBtn">
                                        <a class="" href="{{ url_for('manage.decline_order',id=order.id) }}"
                                            style="text-decoration:0">
                                            Отклонить
                                        </a>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-outline-danger" id="liveToastBtn">
                                        <a class="" href="{{ url_for('manage.delete_order',id=order.id) }}"
                                            style="text-decoration:0">
                                            Удалить
                                        </a>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <p>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false" style="display: block">
                                Добавить остановку
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% for stop in stops %}
                                <li><a href="{{ url_for('manage.bind_stop',stop_id=stop.id,order_id=order.id,t='p') }}">{{
                                        stop.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        </p>
                        <p>
                            {% if order.stops %}
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false" style="display: block">
                                Удалить остановку
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% for stop in order.stops %}
                                <li><a
                                        href="{{ url_for('manage.remove_stop',stop_id=stop.id,order_id=order.id,t='p') }}">{{
                                        stop.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}