{% extends "base.html" %}
{% block content %}
<style>
</style>
<div class="container">
    <div class="row">
        <!-- Профиль менеджера -->
        <div class="col">
            <div class="card" id="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">{{ user.username }}</h4>
                    <h5 class="card-title">{{ "Менеджер" }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.change_master_password') }}"
                                style="text-decoration: none; color:white">Сменить пароль</a></button>
                    </p>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.change_email') }}"
                                style="text-decoration: none; color:white">Сменить почту</a></button>
                    </p>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.add_manager') }}"
                                style="text-decoration: none; color:white">Добавить менеджера</a></button>
                    </p>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.add_stop') }}"
                                style="text-decoration: none; color:white">Добавить остановку</a></button>
                    </p>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary" id="btn"><a
                                href="{{ url_for('manage.create_report') }}"
                                style="text-decoration: none; color:white">Составить отчёт</a></button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            {% for day in days %}
            <div class="card" id="card" style="width: 15rem">
                <h5 class="card-title">День {{ day.date }}</h5>
                <h6 class="card-title">Количество заявок: {{ 20-day.orders_amount }}</h6>
                <p class="card-text">
                    <a href="{{ url_for('manage.delete_day',id=day.id) }}">Удалить</a>
                </p>
            </div>
            {% endfor %}
        </div>
        <!-- Заявки пользователя -->
        <div class="col">
            <div class="btn-group dropend">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Фильтр
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('manage.mprofile',filter='В обработке') }}">В обработке</a></li>
                    <li><a href="{{ url_for('manage.mprofile',filter='Одобрено') }}">Одобрено</a></li>
                    <li><a href="{{ url_for('manage.mprofile',filter='Отклонено') }}">Отклонено</a></li>
                    <li><a href="{{ url_for('manage.mprofile',filter='Все') }}">Сбросить<a></li>
                </ul>
            </div>
            <div class="row">
                {% for order in orders %}
                <div class="card" id="card" style="width: 20rem;color:#0D160B;">
                    <div class="card-body">
                        <h5 class="card-title">{{ order.date|date }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ order.FCs }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{ order.email }}</h6>

                        {% if order.state == "Одобрено" %}
                        <p style="color:green;">
                            Статус: {{ order.state }}
                        </p>
                        {% elif order.state == "В обработке" %}
                        <p style="color:yellow;">
                            Статус: {{ order.state }}
                        </p>
                        {% else %}
                        <p style="color:red;">
                            Статус: {{ order.state }}
                        </p>
                        {% endif %}

                        <p>
                            <a href="{{ url_for('manage.detailed_order',id=order.id) }}" class="card-link">Детально</a>
                        </p>
                        <div class="btn-group dropend">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Управление
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('manage.accept_order',id=order.id) }}"
                                        class="card-link">Принять</a>
                                </li>
                                <li><a href="{{ url_for('manage.decline_order',id=order.id) }}"
                                        class="card-link">Отклонить</a>
                                </li>
                                <li><a href="{{ url_for('manage.delete_order',id=order.id) }}"
                                        class="card-link">Удалить</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}