{% extends "base.html" %}
{% block content %}
<ul class="tilesWrap">
    <li>
        <h2>01</h2>
        <h3>Успех Клиента - наша основная цель</h3>
        <p>
            Качественный сервис и индивидуальный подход стали гигиеническими факторами отношений с современным Клиентом.
            Наша задача помочь каждому Клиенту добиваться успеха посредством взаимодействия с нашей командой.
        </p>
    </li>
    <li>
        <h2>02</h2>
        <h3>Соответствие международным стандартам</h3>
        <p>
            В 2016 году мы прошли сертификацию ISO 9001:2015, и проходим ежегодный аудит. Внутренние стандарты и
            нормативы в области менеджмента качества существенно превышают требования международного стандарта.
        </p>
    </li>
    <li>
        <h2>03</h2>
        <h3>Информационная поддержка</h3>
        <p>
            Настоящее будущее неразрывно связано с цифровой экономикой, поэтому и наша IT-система непрерывно развивается
            в этом направлении, обеспечивая автоматизированные технологии обмена данными и документами со всеми нашими
            контрагентами.
        </p>
    </li>
    <li>
        <h2>04</h2>
        <h3>А что мы можем?</h3>
        <p>
            Наша компания предоставляет пассажироперевозки и грузоперевозки по всему СНГ. Наши менеджеры мгновенно реагируют на заявки, а численность автопарка поражает воображение.
        </p>
    </li>
</ul>
{% endblock content %}