{% extends "base.html" %}
{% block content %}
<style>
</style>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" method="POST" action="" name="FormOrder">
                <h3>Оставить заявку</h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="ФИО" name="FCS" onchange="ChangeButtonStatus()"
                        onkeyup="ChangeButtonStatus()">
                </div>
                <div class="form-group help">
                    <input type="text" class="form-control" placeholder="Номер телефона" name="phone"
                        onchange="ChangeButtonStatus()" onkeyup="ChangeButtonStatus()">
                </div>
                <div class="form-group help">
                    <input type="text" class="form-control" placeholder="E-mail адрес" name="email"
                        onchange="ChangeButtonStatus()" onkeyup="ChangeButtonStatus()">
                </div>
                <div class="form-group help">
                    <input type="text" class="form-control" placeholder="Откуда" name="from"
                        onchange="ChangeButtonStatus()" onkeyup="ChangeButtonStatus()">
                </div>
                <div class="form-group help">
                    <input type="text" class="form-control" placeholder="Куда" name="to" onchange="ChangeButtonStatus()"
                        onkeyup="ChangeButtonStatus()">
                </div>
                <div class="form-group help">
                    <input type="date" name="calendar" value="{{ today }}" min="{{ today }}" max="{{ max_day }}"
                        class="form-control" placeholder="Пароль" onchange="ChangeButtonStatus()"
                        onkeyup="ChangeButtonStatus()">
                </div>
                <div class="form-group help">
                    <select name="ta" id="ta" class="selectpicker form-control" onchange="ChangeButtonStatus()"
                        onkeyup="ChangeButtonStatus()">
                        <option value="1" class="option-selected">Пасcажирская (20р)</option>
                        <option value="2" class="option-selected">Грузоперевозка (40р)</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-sm form-group help">
                        <input type="text" class="form-control" name="amount" id="amount"
                            placeholder="Кол-во пассажиров" onchange="ChangeButtonStatus()"
                            onkeyup="ChangeButtonStatus()">
                    </div>
                    <div class="col-sm form-group help">
                        <select class="selectpicker form-control" name="auto" id="auto" style="visibility: hidden;"
                            onchange="ChangeButtonStatus()" onkeyup="ChangeButtonStatus()">
                            <option value="Микроавтобус" class="option-selected">Микроавтобус</option>
                            <option value="Грузовик" class="option-selected">Грузовик</option>
                            <option value="Фура" class="option-selected">Фура</option>
                        </select>
                    </div>
                    <div class="form-group help">
                        <button type="submit" class="btn btn-default" name="SendButton">Заказать</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    let trnsp = document.getElementById('ta');
    trnsp.addEventListener('change', function () {
        if (trnsp.value === "1") {
            document.getElementsByName("amount")[0].style.visibility = "visible";
            document.getElementById("auto").style.visibility = 'hidden';
        }
        else if (trnsp.value === "2") {
            document.getElementsByName("amount")[0].style.visibility = "hidden";
            document.getElementById("auto").style.visibility = 'visible';
        }
    });
    form = document.FormOrder;
    function ChangeButtonStatus() {
        let default_fields = (form.name.value != "" && form.email.value != "" &&
            form.phone.value != "" && form.from.value != "" && form.to.value != ""
        )
        let amount = form.amount.value!="";
        console.log("default",default_fields)
        console.log("auto",amount)
        form.SendButton.disabled = !(default_fields && amount);

    }
    ChangeButtonStatus()
    //
</script>
{% endblock %}